<!DOCTYPE html>

<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css"> 
    <script src="/js/app.js"></script>
</head>


<body>
    <div class="main-content">

    {{>header}}
    <h2>This project was created by {{name}}.</h2>
    <p>This is a simple web application hosted on Heroku. The application homepage enables you to search for real time weather in your location.</p>
    <p>The webapp calls APIs from MapBox and Weatherstack to fulfill the request and handles a variety of errors</p>
    <img src="/img/imran.jpeg" alt="" class="portrait">
    </div>


<footer>
    {{>footer}}
</footer>

</body>
</html>