<!DOCTYPE html>

<html>
<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css"> 
    <script src="/js/app.js"></script>
</head>

<body>
    <div class="main-content">

    {{>header}}
    <h2>Created by the helper {{name}}</h2>
    <img src="/img/imran.jpeg" alt="" class="portrait">
    <h3>This is a message to help you out. Please call us on 0123456789 for help</h3>
    <p>This is another message about the support you requested: {{helpQuery}}</p>
    </div>



<footer>
    {{>footer}}
</footer>
</body>
</html>