<!DOCTYPE html>

<html>
<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css"> 
    <script src="/js/app.js"></script>
</head>

<body>
    <div class="main-content">

    {{>header}}
    <h2>Sorry, this is another annoying photo of {{name}}</h2>
    <img src="/img/imran.jpeg" alt="" class="portrait">
    <h3>This is a message to help you out. For now, we're limited in the help we can provide. All we can do is send you good vibes... </h3>
    <p>Other than that, this is all we can recommend: {{helpQuery}}</p>
    <p>Most of what you see on this website has been created to test and learn a variety of simple programming techniques</p>
    </div>



<footer>
    {{>footer}}
</footer>
</body>
</html>